* {
    margin: 0;
    padding: 0;
  }
  
  .about_container {
    height: 131vh;
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      #191a1b,
      #182027,
      #162534,
      #132a41,
      #102f4f
    );
  }
  
  #about_heading {
    color: rgb(96, 247, 211);
    font-size: 30px;
    padding: 30px;
  }
  
  #about_intro {
    padding: 30px;
    color: white;
    font-size: 22px;
    margin-top: -40px;
  }
  
  .about_cards {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .row1,
  .row2 {
    display: flex;
    flex-direction: row;
  }
  
  .row2 {
    margin-top: 40px;
  }
  
  .message-div {
    position: relative;
    width: 400px;
    height: 250px;
    background-color: lightblue;
    border-radius: 50px 50px 50px 33px;
    padding: 22px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    color: rgb(77, 77, 77);
    font-size: 18px;
    animation-name: floating;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  .message-div::before {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 5px;
    width: 50px;
    height: 50px;
    background-color: lightblue;
    transform: rotate(-35deg);
    transform-origin: 0 0;
  }
  
  .message-div h1 {
    color: rgb(95, 54, 2);
  }
  
  p {
    margin-top: 10px;
  }
  
  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @media (max-width: 946px) {
    .row1,
    .row2 {
      flex-direction: column;
    }
    .about_container {
      height: auto;
    }
  }
  
  @media (max-width: 471px) {
    #about_intro {
      font-size: 18px;
    }
    .message-div {
      height: 170px;
      width: 300px;
      font-size: 13.5px;
    }
    #project_card {
      margin-top: 10px;
    }
    #people_card {
      margin-top: 10px;
    }
    #funding_card{
        margin-top: 35px;
    }
  }
  