.contact_section{
    height: 60vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}
.contact_content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* width:900px; */
    /* border: 2px solid white; */
    /* padding: 20px; */
}
.contact_row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid lightblue; */
}

.contact_row img{
    height: 370px;
    width: 370px;
}
.useful_links{
    display: flex;
    flex-direction: column;
    font-size: 22px;
}
#useful_heading{
    color: white;
    font-size: 26px;
}
.useful_links hr{
    border: 2px solid rgb(96, 247, 211);
    margin-top: 10px;
    width: 220px;
}
.useful_links img{
    height: 18px;
    width: 18px;
}
.arrow_link{
    color: white;
    padding: 5px;
}
#other_hr{
    border: 1px solid white;
}
#first_arrow{
    margin-top: 20px;
}

.hello_section{
    display: flex;
    flex-direction: column;
    color: white;
}
.hello_section hr{
    border: 2px solid rgb(96, 247, 211);
    margin-top: 10px;

}
.contact_head{
    margin-top: -37px;
}

.hello_section span{
    font-size: 20px;
}   
.icons img{
    height: 30px;
    width: 30px;
    padding: 10px;
}

@media(max-width:1019px){
    .contact_row{
        flex-direction: column;
    }
    .hello_section{
        margin-top: 65px;
        margin-bottom: 20px;
    }
    .useful_links{
        margin-top: -50px;
        font-size: 20px;
    }
    .hello_section span{
        font-size: 18px;
    }
    .contact_section{
        height: auto;
        /* padding: 20px; */

    }
    #useful_heading{
        font-size: 23px;
    }
}